# Ignore node_modules
node_modules

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment files
.env


# Ignore git files
.git
.gitignore

# Ignore build artifacts
dist
build
coverage